body {
  background: #f5f6fa;
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

.index {
  width: 100vw;
  height: 100vh;
}

.navbar {
  background: black !important;
}

.nav-link {
  color: #fff !important;
}

.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('/img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.masthead h3 {
  color: #ffe78f;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}
